# SNAPSHOT_ROOT_LOCAL: Absolute path to the snapshot root on the host machine.
SNAPSHOT_ROOT_LOCAL=
# SNAPSHOT_ROOT: Path to the snapshot root inside the container.
# this is needed in the dockerised python application.
SNAPSHOT_ROOT=/data

BLOB_BATCH_SIZE=10000

# Azure Blob Storage
STORAGE_BLOB_ACCOUNT=
STORAGE_BLOB_CONTAINER=
STORAGE_BLOB_ACCOUNT_KEY=

# DESTINY Repository
REPOSITORY_ENDPOINT=https://your-destiny-api/
TOKEN_ENDPOINT=https://login.microsoftonline.com/<tenant-id>/oauth2/v2.0/token
APP_REGISTRATION_APP_ID=
APP_REGISTRATION_SECRET=
TENANT_ID=
POLL_INTERVAL_SECONDS=300
MAX_POLL_ATTEMPTS=30

# Prefect
PREFECT_API_URL=http://prefect-server:4200/api
POSSTGRES_USER=
POSTGRES_PASSWORD=
PREFECT_WORK_POOL_CONCURRENCY_LIMIT=8
